/* header css for evry pages */
header{
    text-align: center;
    font-size: large;
    background-color: rgb(14, 85, 85);
    color: beige;
}
/*cnavigation bar css */
nav{
    background-color: rgb(59, 204, 204);
    padding: 7px;
    text-align: center;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.dropdown {
    display: none;
    position: absolute;
    background-color: rgb(59, 204, 204);
    padding: 10px;
    list-style: none;
}
nav li:hover .dropdown {
    display: block;
}
.dropdown li {
    padding: 5px 0;
}
.dropdown a {
    color: #FAF5F1;
}
nav ul li ul{
    z-index: 999;
}
nav a{
    color: beige;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 100px;
}
nav a:hover{
    color: rgb(14, 85, 85);
}
/* index page main css */
.index{
    float: left;
    padding-right: 15px;
    padding-top: 10px;
}
/* aside bar css table */
aside{
    float: right;
    padding-right: 10px;
}
/* index page image and quote */
img{
    display: flex;
    margin-top: 10px;
}
.hero{
    position: relative;
}
.herotext{
    position: absolute;
    bottom: 0;
    padding: 20px;
    color: beige;
    font-weight: bold; 
    font-size: 1.5em;
}
/* link in text in index page */
.link{
    text-decoration: none;
}
.link:hover{
    color: rgb(14, 85, 85);
}
.text{
    font-size: 2.3em;
    padding-top: 10px;
    padding-left: 5px;
}
/* gallery page css for images */
.picture{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-items: center;
    align-items: center;
}
.picture img{
    width: 100%;
    height: 100%;
    border-radius: 2px;
    box-shadow: 0 4px 6px rgb(14, 85, 85);
    clip-path: polygon(1.11% 10%, 85% 0%, 99.66% 45.74%, 92.5% 97.97%, 1.94% 100%);
}
@media (max-width: 600px) {
    .picture{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 480px){
    .picture{
        grid-template-columns: 1fr;
    }
}
/* media page */
.media{
    padding-left: 25%;
    margin-top: 10px;
}
/* footer css for every pages */
footer{
    text-align: center;
    background-color: rgb(14, 85, 85);
    color: beige;
    padding: 10px;
    clear: both;
}